/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
  .button {
    @apply p-2 text-xs md:text-sm bg-[#FFD814]  border border-yellow-300 rounded-xl outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500;
  }
  .order_btn{
    @apply hidden md:inline-block hover:bg-gray-100 bg-white rounded-xl text-black shadow-md px-6 py-1 mb-1 border border-gray-300 text-sm
  }
}
